{% extends "deardiary/layout.html" %}

{% block title %}Dear diary...{% endblock %}

{% block content %}

<h2>Write your thoughts to your diary</h2>

<form action="{% url 'add' %}" method="post">
    {% csrf_token %}

    <p>
    <label for="title">Title:</label><br />
    <input style="height:2em;width:30em" type="text" id="title" name="title" required minlength="1" maxlength="100"><br />
    </p>

    <p>
    <label for="body">What's on your mind:</label><br />
    <textarea id="body" name="body" required rows="10" cols="53" minlength="1" maxlength="1000"></textarea><br />
    </p>

    <p>All done? Save the entry to your diary below</p>
    <button type="submit">Save</button>
</form>

<p><a href="{% url 'home' %}">Or return</a> without saving</p>

{% endblock %}